:root {
  --main-black:#363033;
  --main-white: #f7f7ff;
  --main-light-blue: #456990;
  --main-dark-blue: #0f2938;
  --main-orange: #b2433c;
  background-color: var(--main-light-blue);
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

.App, a {
  text-align: center;
  color: var(--main-dark-blue);
  text-decoration-line: none;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: underline;
}
