:root {
  --main-black:#363033;
  --main-white: #f7f7ff;
  --main-light-blue: #456990;
  --main-dark-blue: #0f2938;
  --main-orange: b2433c;
}

.App, a {
  text-align: center;
  color: var(--main-dark-blue);
  text-decoration-line: none;
}
