:root {
  --main-black:#363033;
  --main-white: #f7f7ff;
  --main-light-blue: #456990;
  --main-dark-blue: #0f2938;
  --main-orange: #b2433c;
}

html, body {
  margin: 0;
  background-color: var(--main-white);
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

.App, a {
  text-align: left;
  color: var(--main-dark-blue);
  text-decoration-line: none;
  font-family: 'Roboto', sans-serif;
}

a:hover {
  text-decoration: underline;
}

/* For table of contents smooth scroll functionality */
h2, h3 {
  scroll-margin-top: 5vh;
}
/* Safari-only */
@supports (-webkit-hyphens:none) {
  h2, h3 {
      padding-top: 5vh;
      margin-top: -5vh;
  }
}

/* Display span as block elements, and add spacing between rows */
span {
  display: inline-block;
  margin-bottom: 10px;
}