#article-archive-wrapper-desktop {
    background: linear-gradient(to bottom, var(--main-light-blue) 75vh, var(--main-white) 75vh 100vh);
}

#article-archive-wrapper-mobile {
    padding-top: 15%;
}

#hero-article-wrapper {
    height: 50vh;
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 8vh;
    padding-bottom: 5vh;
    display: inline-block;
}

#article-history-wrapper {
    width: 86%;
    height: 100%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
    margin-top: 0;
    display: inline-block;
}