#article-archive-wrapper-desktop {
    background: linear-gradient(to bottom, var(--main-light-blue) 80vh, var(--main-white) 80vh 100vh);
}

#hero-article-wrapper {
    height: 50vh;
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: inline-block;
}

#article-history-wrapper-desktop {
    width: 86%;
    height: 100%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
    margin-top: 0;
    display: inline-block;
}

#article-history-wrapper-mobile {
    width: 86%;
    height: 100%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
    margin-top: 0;
    display: inline-block;
}

.article-history-row {
    overflow: auto;
}