#article-content-wrapper-desktop {
    height: 100vh;
    width: 84vw;
    margin: 0;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 8vh;
    padding-bottom: 5vh;
}

#article-content-wrapper-mobile {
    width: 84vw;
    margin: 0;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 8vh;
    padding-bottom: 5vh;
}

/*  
 *  Much of this is copied from the Hero Article CSS in ArticleSummary
 *  TODO: Refactor Hero Data handling into a single structure
 */

#article-metadata-wrapper-desktop {
    display: inline-block;
    width: 100%;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

#article-metadata-wrapper-mobile {
    display: inline-block;
    padding-bottom: 10%;
    padding-left: 3%;
    padding-right: 3%;
    max-width: 80vw;
}

#article-metadata-info-desktop {
    width: 50%;
    float: left;
    padding-top: 2%;
    padding-right: 5%;
}

#article-metadata-info-mobile {
    width: 100%;
    padding-top: 2%;
}

#article-metadata-image-wrapper {
    float: left;
    text-align: right;
    width: 30%;
    height: 98%;
    padding-top: 5%;
}

#article-metadata-image {
    width: 100%;
    max-width: 80vw;
}

#article-metadata-date,
#article-metadata-reading-time {
    font-size: 13px;
}

#article-metadata-title {
    font-size: 2.5em;
    margin-top: 1%;
    margin-bottom: 1%;
}

#article-metadata-summary {
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 30px;
}

.article-metadata-tag-desktop {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 10px;
    border-radius: 2rem;
    background-color: var(--main-orange);
    color: var(--main-white);
}

.article-metadata-tag-mobile {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 10px;
    border-radius: 2rem;
    background-color: var(--main-light-blue);
    color: var(--main-white);
}

#article-content-text-desktop>p>img {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#article-content-text-mobile>p>img {
    width: 100%;
}

/* Enforce alignment of the first header with the top of the image */
#article-content-text-desktop>h2:first-of-type {
    margin-top: 0;
}

#article-content-text-desktop {
    padding-top: 2vh;
    padding-right: 5vw;
    padding-left: 24vw;
    /* High bottom padding allows for small final headers to still be considered active by Table Of Contents isIntersecting */
    padding-bottom: 20vh;
    width: 55vw;
}

#article-content-text-desktop a {
    color: var(--main-light-blue);
    font-weight: bold;
}

#article-content-text-mobile {
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
}

#article-content-text-mobile a {
    color: var(--main-light-blue);
    font-weight: bold;
}

hr {
    margin-bottom: 3%;
}

code {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    background: #f4f4f4;
    color: var(--main-orange);
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid var(--main-dark-blue);
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
}

code[class*=language-],
pre[class*=language-] {
    color: #000;
    background: 0 0;
    text-shadow: 0 1px #fff;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

pre span {
    margin-bottom: 0;
}