#loading-screen {
    z-index: 10;
    position: absolute;
    top: 50px;
    right: 0px;
    bottom: 35px;
    left: 0px;
    background-color: var(--main-white);
}

#loading-logo {
    width: 8vw;
    float: left;
}

.loading-animation {
    margin-left: 8vw;
}

#loading-wrapper {
    padding-top: 25vh;
    padding-left: 41vw;
}