nav {
    position: sticky;
    position: -webkit-sticky;
    /* For Safari */
    top: 5vh;
    /* How far down the page you want your ToC to live */

    width: 15vw;
    padding-top: 3vh;
    padding-right: 2vw;
    float: left;
}

.toc-heading-link {
    color: grey;
    text-decoration: none;
}

li.active>.toc-heading-link {
    color: var(--main-dark-blue);
    font-weight: bold;
}

li>.toc-heading-link:hover {
    color: var(--main-dark-blue);
    text-decoration: none;
}

#headings-list {
    list-style-type: none;
    margin: 0;
    font-size: 1.25em;
}

#headings-list>li {
    padding-bottom: 10px;
}